body{
    background-color: #ffffff;
}
h5{
    font-size: 1.5rem;
}
.hero-txt{
    margin-left: 10px;
}
  @media (min-width: 992px) {
    .hero{
        background-image: url("/src/assets/backg.jpg");
        background-size: cover;
        top: 0;
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .row.desktop-layout {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .hero-image {
        width: 12rem;
        margin-left: 50px;
        
      }
      .hero-txt{
        margin-left: 150px;
        width: 300px;
        word-wrap: break-word;
      }
    .skills-card{
        z-index: -1;
        display: flex;
        flex-direction: row;
        margin-left: 240px;    
    }
    /* .caro{
        width: 800px;
        margin-left: 250px;
    } */
    .git{
        margin-left: 370px;
    }
    .whatsapp{
        margin-right: 230px;
    }
    .row-cols-3 > .col {
        flex: 0 0 33%;
        max-width: 33%;
        display: flex;
        justify-content: center; /* Center the image horizontally */
        align-items: center;
        padding-top: 10px;
    } 
    .gallery img:hover {
        opacity: 0.8; /* Add hover effect */
        cursor: pointer; /* Indicate potential interaction */
    }
    .row-cols-3 > .col img {
        transition: transform 0.3s ease-in-out;
    }
    .row-cols-3 > .col img:hover {
        transform: scale(1.1); /* Adjust the scale factor as needed */
        cursor: pointer;
        opacity: 0.9;
    }  
    /* Box Shadow, Change carousel to gallery, bg-tertiary for body */
  }
